<div class="container" *ngIf="token">
  <h1>Password Reset</h1>
  <hr>
  <p>Please enter your new password below, and once again for confirmation.</p>
  <form class="my-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword" formControlName="password">
      <ng2-password-strength-bar [passwordToCheck]="password.value" [barLabel]="'Password strength:'"></ng2-password-strength-bar>
    </div>
    <div class="form-group" [customErrorMessages]="customErrorMessages">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input type="password" class="form-control" id="confirmNewPassword" formControlName="password_confirm">
    </div>
    <hr>
    <div *ngIf="!form.pristine && !form.valid" class="my-4 alert alert-danger" role="alert">
        Please fix all invalid fields to continue.
      </div>
      <div *ngIf="error" class="my-4 alert alert-danger" role="alert">
        {{error.error.message}}
      </div>
      <div *ngIf="success" class="my-4 alert alert-success" role="alert">
        Password has reset. Redirecting to Login page...
      </div>
    <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-right">Reset Password</button>
        </div>
      </div>
  </form>
</div>
