<div class="container my-5">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true, backdropBackgroundColour: 'rgba(0, 0, 0, 0.8)' }"></ngx-loading>
  <h1>Login / Register</h1>
  <hr>
  <form class="m-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-envelope icon"></i>
        </span>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email"
          formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-key icon"></i>
        </span>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
      </div>
      <div class="input-group form-check">
        <input type="checkbox" class="form-check-input" id="inputRememberPassword" formControlName="rememberPassword">
        <label class="form-check-label" for="inputRememberPassword">Remember Me</label>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col alert alert-danger" role="alert" *ngIf="fail_login">
        Cannot login! Please make sure you have the correct credentials to login.
      </div>
      <div class="col alert alert-warning" role="alert" *ngIf="warningMessage">
        {{ warningMessage }}
      </div>
      <div class="col alert alert-danger" role="alert" *ngIf="dangerMessage">
        {{ dangerMessage }}
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['/forgot-password']">Forgot Password</button>
        <button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['/register']">Register</button>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary float-right">Login</button>
      </div>
    </div>
  </form>
  <hr>
  <div>
    <p>Alternatively, you can login via the online services below:</p>
    <p class="font-italic">
      The inability to see 'Sign In with...' buttons below is a likely indicator that you may have some sort of content-filtering
      extension (like Ad-blockers) that block these types of buttons. Please add this website to your Ad-blocker whitelist and/or disable
       your ad-blocker completely to log in using these services.
    </p>
    <br>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <a class="btn btn-social btn-google" style="color: white" href="/auth/google">
      <i class="fa fa-google"></i> Sign in with Google
    </a>
  </div>
</div>
