.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-30 {
    -ms-flex: 30%; 
    flex: 30%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-70 {
    -ms-flex: 70%; 
    flex: 70%;
  }
  
  .col-30,
  .col-50,
  .col-70 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* when the screen is less than 800px wide, 
  make the two columns stack on top of each other instead of next to each other 
  */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-30 {
      margin-bottom: 20px;
    }
  }