<app-search-bar></app-search-bar>
<div class="container" *ngIf="item">
  <div class="rounded border p-3 mt-5">
    <div class="row">
      <div class="col-sm-12 col-md-5 align-self-center justify-content-center">
        <img class="d-block m-auto" [src]="item.item_image" alt="Item Image" width="250px" height="250px">
      </div>
      <div class="col-sm-12 col-md-7">
        <h2>{{item.item_name}}</h2>
        <hr>
        <p text-wrap>
          <span style="font-weight: bold">Description:</span>
          {{item.item_description}}
        </p>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-center">
      <div class="col-4 text-center">
          <p><span style="font-weight: bold;">Price: </span>{{item.item_price}}</p>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="" (click)="onQuantityMinusClick()">
                  <span class="glyphicon glyphicon-minus">-</span>
                </button>
            </span>
            <input type="number" id="quantity" name="quantity" class="form-control input-number" minlength="1" maxlength="50" [(ngModel)]="itemQuantity" ng-input="onInput()">
            <span class="input-group-btn">
                <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="" (click)="onQuantityPlusClick()">
                    <span class="glyphicon glyphicon-plus">+</span>
                </button>
            </span>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success btn-number" data-type="submit" data-field="" (click)="onSubmitClick()">
                    <span> Submit </span>
                </button>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
