<div class="container" *ngIf="!googleAuth">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true, backdropBackgroundColour: 'rgba(0, 0, 0, 0.8)' }"></ngx-loading>
  <h1>Register a new account</h1>
  <hr>
  <form class="my-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3 class="text-center">General</h3>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="John" formControlName="first_name">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Smith" formControlName="last_name">
        </div>
      </div>
    </div>

    <!-- Phone Numbers -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <!--label for="inputHomePh">Home Phone Number</label-->
          <!-- input type="tel" class="form-control" id="inputHomePh" placeholder="042222222" formControlName="homePhoneNumber" -->
          <label for="phoneNumber">Phone Number (Mobile or Home)</label>
          <input type="tel" class="form-control" id="phoneNumber" placeholder="041234567 or 0212345678" formControlName="phone">
        </div>
      </div>
      <!-- div class="col">
        <div class="form-group">
          <label for="inputMobilePh">Mobile Phone Number</label>
          <input type="tel" class="form-control" id="inputMobilePh" placeholder="0219999999" formControlName="mobilePhoneNumber">
        </div>
      </div -->
    </div>
    <hr>
    <!-- Login -->
    <h3 class="text-center">Login</h3>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="palceholder@example.com" formControlName="email">
    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password">
      <ng2-password-strength-bar
        [passwordToCheck]="password.value"
        [barLabel]="'Password strength:'">
      </ng2-password-strength-bar>
    </div>
    <div class="form-group" [customErrorMessages]="customErrorMessages">
      <label for="inputPasswordConfirm">Confirm Password</label>
      <input type="password" class="form-control" id="inputPasswordConfirm" formControlName="password_confirm">
    </div>

    <hr>
    <!-- Address -->
    <h3 class="text-center">Delivery Address</h3>
    <div class="form-group">
      <label for="inputAddress_Street1">Street Address #1</label>
      <input type="text" class="form-control" id="inputAddress_Street1" formControlName="address_line1">
    </div>
    <div class="form-group">
      <label for="inputAddress_Street2">Street Address #2</label>
      <input type="text" class="form-control" id="inputAddress_Street2" formControlName="address_line2">
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="inputAddress_Suburb">Suburb</label>
          <input type="tel" class="form-control" id="inputAddress_Suburb" formControlName="address_suburb">
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label for="inputAddress_City">City</label>
          <input type="tel" class="form-control" id="inputAddress_City" formControlName="address_city">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group" [customErrorMessages]="customErrorMessages">
          <label for="inputAddress_PostCode">Post Code</label>
          <input type="text" class="form-control" id="inputAddress_PostCode" formControlName="address_postcode">
        </div>
      </div>
    </div>
    <hr>
    <!-- Payment -->
    <!-- h3 class="text-center">Payment</h3>
    <div class="row">
      <div class="col">
        <div class="form-group" [customErrorMessages]="customErrorMessages">
          <label for="inputCard_Number">Card Number</label>
          <input type="text" class="form-control" id="inputCard_Number" formControlName="card_number">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="inputCard_NameOnCard">Name on Card</label>
          <input type="text" class="form-control" id="inputCard_NameOnCard" placeholder="J Smith" formControlName="card_name">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group" [customErrorMessages]="customErrorMessages">
          <label for="inputCard_CVV">CVV</label>
          <input type="text" class="form-control" id="inputCard_CVV" formControlName="card_cvv">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="inputCard_Expiry">Expires</label>
          <input type="text" class="form-control" id="inputCard_Expiry" placeholder="MM/YYYY" formControlName="card_expiry">
        </div>
      </div>
    </div>
    <hr -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-secondary" (click)="clearAllFields()">Clear All Fields</button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary float-right">Register</button>
      </div>
    </div>
    <div *ngIf="!form.pristine && !form.valid" class="my-4 alert alert-danger" role="alert">
      You cannot register an account until all the required fields are filled correctly.
    </div>
    <div *ngIf="error" class="my-4 alert alert-danger" role="alert">
      {{error.error.message}}
    </div>
  </form>
</div>

<div class="container" *ngIf="googleAuth">
  <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true, backdropBackgroundColour: 'rgba(0, 0, 0, 0.8)' }"></ngx-loading>
  <h1>Register a new account with Google</h1>
  <hr>
  <form class="my-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3 class="text-center">General</h3>

    <!-- Phone Numbers -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="phoneNumber">Phone Number (Mobile or Home)</label>
          <input type="tel" class="form-control" id="phoneNumber" placeholder="041234567 or 0212345678" formControlName="phone">
        </div>
      </div>
    </div>
    <hr>
    <!-- Address -->
    <h3 class="text-center">Delivery Address</h3>
    <div class="form-group">
      <label for="inputAddress_Street1">Street Address #1</label>
      <input type="text" class="form-control" id="inputAddress_Street1" formControlName="address_line1">
    </div>
    <div class="form-group">
      <label for="inputAddress_Street2">Street Address #2</label>
      <input type="text" class="form-control" id="inputAddress_Street2" formControlName="address_line2">
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label for="inputAddress_Suburb">Suburb</label>
          <input type="tel" class="form-control" id="inputAddress_Suburb" formControlName="address_suburb">
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label for="inputAddress_City">City</label>
          <input type="tel" class="form-control" id="inputAddress_City" formControlName="address_city">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group" [customErrorMessages]="customErrorMessages">
          <label for="inputAddress_PostCode">Post Code</label>
          <input type="text" class="form-control" id="inputAddress_PostCode" formControlName="address_postcode">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-secondary" (click)="clearAllFields()">Clear All Fields</button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary float-right">Register</button>
      </div>
    </div>
    <div *ngIf="!form.pristine && !form.valid" class="my-4 alert alert-danger" role="alert">
      You cannot complete your account registration until all the required fields are filled correctly.
    </div>
    <div *ngIf="error" class="my-4 alert alert-danger" role="alert">
      {{error.error.message}}
    </div>
  </form>
</div>
